function Ball.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push constant 256
pop this 0
push argument 2
push constant 10
sub
pop this 1
push argument 0
pop this 2
push argument 1
pop this 3
push constant 1
pop this 4
push constant 1
neg
pop this 5
push argument 2
pop this 6
push pointer 0
call Ball.draw 1
pop temp 0
push pointer 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.moveLeftDown 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 2
add
push constant 1
sub
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
sub
pop this 0
push this 1
push constant 2
add
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 1
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push this 3
add
push constant 1
sub
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.moveLeftUp 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 2
add
push constant 1
sub
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push this 3
add
push constant 1
sub
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
sub
pop this 0
push this 1
push constant 2
sub
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 1
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.moveRightDown 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 1
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
pop this 0
push this 1
push constant 2
add
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 2
add
push constant 1
sub
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push this 3
add
push constant 1
sub
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.moveRightUp 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 1
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push this 3
add
push constant 1
sub
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
pop this 0
push this 1
push constant 2
sub
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 2
add
push constant 1
sub
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getX 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRightX 0
push argument 0
pop pointer 0
push this 0
push this 2
add
return
function Ball.getY 0
push argument 0
pop pointer 0
push this 1
return
function Ball.getBottomY 0
push argument 0
pop pointer 0
push this 1
push this 3
add
return
function Ball.setYDir 0
push argument 0
pop pointer 0
push argument 1
pop this 5
push constant 0
return
function Ball.setXDir 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push this 4
push constant 1
neg
eq
push this 5
and
push constant 1
neg
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Ball.moveLeftUp 1
pop temp 0
label IF_FALSE0
push this 4
push constant 1
eq
push this 5
and
push constant 1
neg
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Ball.moveRightUp 1
pop temp 0
label IF_FALSE1
push this 4
push constant 1
neg
eq
push this 5
and
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Ball.moveLeftDown 1
pop temp 0
label IF_FALSE2
push this 4
push constant 1
eq
push this 5
and
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Ball.moveRightDown 1
pop temp 0
label IF_FALSE3
push constant 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
